########################################
# START-PRINT
########################################
[gcode_macro START_PRINT]
description: Clean Orca start macro (SV04 IDEX)
gcode:
    {% set extruder = params.EXTRUDER|default(0)|int %}
    {% set extruders = params.EXTRUDERS|default(1)|int %}

    {% set bed_temp = params.BED_TEMP|default(0)|float %}
    {% set e0_temp = params.EXTRUDER_TEMP|default(0)|float %}
    {% set e1_temp = params.EXTRUDER1_TEMP|default(0)|float %}

    {% set area_start_x = params.AREA_START_X|default(0)|float %}
    {% set area_start_y = params.AREA_START_Y|default(0)|float %}
    {% set area_end_x = params.AREA_END_X|default(0)|float %}
    {% set area_end_y = params.AREA_END_Y|default(0)|float %}

    CLEAR_PAUSE
    M220 S100
    M221 S100
    G90

    # --- Bed heat ---
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp}

    # --- Mode reset ---
    SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY

    # --- Heating extruders ---
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={e0_temp}
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={e1_temp}

    # --- Homing (safe) ---
    SAFE_HOME
    SAFE_Z_TILT

    # --- Bed mesh (adaptive via Orca area) ---
    BED_MESH_CALIBRATE \
        AREA_START_X={area_start_x} AREA_START_Y={area_start_y} \
        AREA_END_X={area_end_x} AREA_END_Y={area_end_y}

    G28 X
    G0 Z2 F600

    # --- Wait temps ---
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={e0_temp}
    {% if extruders == 2 %}
        TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM={e1_temp}
    {% endif %}

    # --- Activate correct mode ---
    {% if extruders == 2 %}
        {% if printer.dual_carriage.carriage_1 == "COPY" %}
            M605 S2
        {% elif printer.dual_carriage.carriage_1 == "MIRROR" %}
            M605 S3
        {% endif %}
    {% endif %}

    # --- Select tool ---
    {% if extruder == 1 %}
        T1
    {% else %}
        T0
    {% endif %}

    PRIME_LINE

    M117 Printing

########################################
# END-PRINT
########################################    

[gcode_macro END_PRINT]
gcode:
        #Get Printer built volume dimensions
        {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
        {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}

        #Fix-up extruder
        G91                                            
        G1 E-2 F2700                                    
        G1 E-1.5 Z0.2 F2400                        
        G1 X5 Y5 F6000                               
        G1 Z10                                     
        G90                                        

        #Present print
        G1 Z{printer.toolhead.position.z + 10} F600
        G1 X{X_MAX / 2} Y{Y_MAX-20} F6000
        M106 S0                                      
        TURN_OFF_HEATERS                                 

        # Tools naar zijkant
        _PARK_TOOL

        #Disable Steppers
        M84 X Y E                  
        M117 Print ready                ; Send finish to display
        #M605 S1
        SET_DUAL_CARRIAGE CARRIAGE=0
        T0
        SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=
        SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
        SAVE_AT_END
        ;DGUS_PRINT_END
