# creality_extruder_test.cfg

[gcode_macro TEST_T0_HEAT_50]
description: T0 heater test op 50C
gcode:
    M104 T0 S50

[gcode_macro TEST_T0_HEAT_OFF]
description: T0 heater uit
gcode:
    M104 T0 S0

[gcode_macro TEST_T0_EXTRUDE_2MM]
description: T0 2mm langzaam extruderen
gcode:
    M83
    G92 E0
    G1 E2 F30
    G92 E0

[gcode_macro TEST_T0_RETRACT_2MM]
description: T0 2mm retract
gcode:
    M83
    G92 E0
    G1 E-2 F30
    G92 E0

[gcode_macro TEST_T0_FAN_25]
description: T0 print cooling fan 25%
gcode:
    SET_FAN_SPEED FAN=fanX1 SPEED=0.25

[gcode_macro TEST_T0_FAN_50]
description: T0 print cooling fan 50%
gcode:
    SET_FAN_SPEED FAN=fanX1 SPEED=0.50

[gcode_macro TEST_T0_FAN_100]
description: T0 print cooling fan 100%
gcode:
    SET_FAN_SPEED FAN=fanX1 SPEED=1.0

[gcode_macro TEST_T0_FAN_OFF]
description: T0 print cooling fan uit
gcode:
    SET_FAN_SPEED FAN=fanX1 SPEED=0

[gcode_macro SPRITETEST]
description: Test Sprite Pro extrudermotor 2mm
gcode:
    M83
    G92 E0
    G1 E2 F30
    G92 E0
    